{{>licenseInfo}}

{{#models}}{{#model}}
import Foundation

{{#description}}

/** {{description}} */{{/description}}
{{#isArrayModel}}
{{> modelArray}}
{{/isArrayModel}}
{{^isArrayModel}}
{{#isEnum}}
{{> modelEnum}}
{{/isEnum}}
{{^isEnum}}
{{> modelObject}}
{{/isEnum}}
{{/isArrayModel}}
{{/model}}
{{/models}}
